@font-face {
  font-family: myFont;
  src: url(../fonts/orange.ttf);
}

#sec1 {
  margin-top: -21px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  background-image: url(../images/images.jpg);
  background-size: cover;
  color: #872a8e;
}

.head1 {
  font-family: myFont;
  font-size: 200px;
}

.head2 {
  font-size: 500%;
}

.boi {
  font-family: myFont;
  font-size: 30px;
}
